<div class="card flex justify-content-center">
  <p-card header="About">
      <p class="m-0">
        Current full-stack developer working towards a career in software engineering. Eager to launch a career with an organization that offers opportunities for
        learning and development. Highly motivated, adaptable, and eager to learn with a strong work ethic.
      </p>
  </p-card>
  <br>
  <p-card header="Basic Information">
      <ul>
        <li>Point 1</li>
        <li>Point 2</li>
      </ul>
  </p-card>
</div>